@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    box-sizing: border-box;
}
.container{
    text-align: center;
    font-family: 'Lora', serif;
    max-width: 70%;
    margin:auto;  
    background-color: rgb(255, 255, 255);
}

.head{      
    max-width: 100%;
    height: 60px;
    margin:-10px;    
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Lora', serif;       
}
.welcome{
    font-size: 40px;
    margin:-8px;
    
}

.vk{
    width: 70px;
    margin-left: -55%;
    margin-top: -70px;
    
}

.inst{
    width: 50px;
    margin-left: -130px;
    margin-top: -52px;

}
.menu{
    font-family: 'Lora', serif;
    font-size: 20px;     
    display: block;
    margin: 3% ;   
}

.button:hover{
    color: white;
    background: rgb(0, 0, 0);
    transform:scale(1.05);
}
.button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    border-radius: 15px;
    display: inline-block;   
    padding: 3px; 
    font-weight: 5px;
}

.ItemFirst{
    display: flex;
    
    height: 500px;
    width: 100%;    
}
.imgItemFirst{    
    display: flex;
    height: 500px;
    width: 85%;
}
.PicItemFirst{
    width: 100%;
    height: 100%;
}

.infItemFirst{    
      
    display: flex;
    width: 45%;
    height: 500px;
    margin-top: 10%;    
}


.ItemSecond{
    display: flex;
    
    height: 500px;
    width: 100%;    
}
.imgItemSecond{    
    display: flex;
    height: 500px;
    width: 85%;
}
.PicItemSecond{
    width: 100%;
    height: 100%;
}

.infItemSecond{    
      
    display: flex;
    width: 45%;
    height: 500px;
    margin-top: 10%;    
}

.ItemThird{
    display: flex;
    
    height: 500px;
    width: 100%;    
}
.imgItemThird{    
    display: flex;
    height: 500px;
    width: 85%;
}
.PicItemThird{
    width: 100%;
    height: 100%;
}

.infItemThird{    
      
    display: flex;
    width: 45%;
    height: 500px;
    margin-top: 10%;    
}

.foot{    
    margin: 100px 0px -10px -10px;    
    height: 350px;
    background-color: rgb(0, 0, 0);
    display: flex;
    max-width: 100%;
    text-align: center;
    
}

#logo{
    width: 20%;
    height: 60%;
    
    margin: 35px 155px;
    display: flex;
}
#footname{
    color: white;
    font-size: 12px;    
    display: block;
    height: 25px;
    margin: 300px 0px;
    margin-left: -395px;
   
}

.buttonBot{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    display: inline-block;   
   
    font-weight: 15px;
    margin: 170px 300px;
    font-size: 20px;    
}

.buttonBot2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    display: inline-block;   
   
    font-weight: 15px;
    margin: 170px -250px;
    font-size: 20px;       
}

.buttonBot3{
    text-decoration: none;
    color: rgb(255, 255, 255);
   
    display: inline-block;   
   
    font-weight: 15px;
    margin: 170px 300px;
    font-size: 20px;    
}
.buttonBot4{
    text-decoration: none;
    color: rgb(255, 255, 255);    
    display: inline-block;       
    font-weight: 32px; 
    margin: 170px -250px;
    font-size: 20px;   
}

.link{
    height: 250px;
    width: 350px;    
    margin-left: 480px;
    margin-top: 50px;
}

#quest{
    color: white;
    font-size: 22.5px;    
    display: block;
    text-align: center;
    margin-top: 35px;
}


.phoneimg{
    width: 65px;
    height: 65px;
    margin-left: -60%;
    margin-top: 5%;
}

.phone{
    margin-top: -15%;
}

.mailimg{
    width: 50px;
    height: 50px;
    margin-left: -57.5%;
}

.mail{
    margin-top: -14%;
    margin-left: 32.5%;
}